* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: white;
}

main {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoHookah {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #000000;
}

.linkH2 {
    text-align: center;
    margin: 50px 0 0 0;
    padding-top: 20px;
    font-size: 15px;
    background-color: #000000;
    width: 290px;
    height: 50px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}